{
  "presets": [
    "stage-0",
    [
      "env",
      {
        "useBuiltIns": true,
        "shippedProposals": true,
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "style": true }]
  ]
}
