{
  "presets": [
    "stage-0",
    [
      "env",
      {
        "useBuiltIns": true,
        "shippedProposals": true,
        "targets": {
          "node": "current"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
